<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">New Products</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                {% for product in products %}
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="{{ asset(product.img) }}" alt="">
                                            <div class="product-label">
                                                {#                                            <span class="sale">-30%</span>#}
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">{{ product.category }}</p>
                                            <h3 class="product-name"><a
                                                        href="{{ path('view_product', {'slug': product.slug}) }}">{{ product.name }}</a>
                                            </h3>
                                            <h4 class="product-price">${{ product.price|number_format(2,'.','') }}
                                                {#                                                <del class="product-old-price">$990.00</del>#}
                                            </h4>
                                            {#                                            <div class="product-rating">#}
                                            {#                                                <i class="fa fa-star"></i>#}
                                            {#                                                <i class="fa fa-star"></i>#}
                                            {#                                                <i class="fa fa-star"></i>#}
                                            {#                                                <i class="fa fa-star"></i>#}
                                            {#                                                <i class="fa fa-star"></i>#}
                                            {#                                            </div>#}
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                            class="tooltipp">add to wishlist</span></button>
                                                {#                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span#}
                                                {#                                                            class="tooltipp">add to compare</span></button>#}
                                                {#                                                <button class="quick-view"><i class="fa fa-eye"></i><span#}
                                                {#                                                            class="tooltipp">quick view</span>#}
                                                {#                                                </button>#}
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <add-to-cart-btn v-on:addproduct="updateCart"
                                                             :product="{{ product.id }}"></add-to-cart-btn>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div id="slick-nav-1" class="products-slick-nav"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
